<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generator Ofert - KORDAS</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <img src="/assets/images/logo.svg" alt="">
        <div class="company-address">
            <h3>KORDAS Sp z.o.o</h3>
            <h3>ul. Zakładowa 2</h3>
            <h3>57-215 Srebrna Góra</h3>
        </div>

    </div>
    {{{body}}}
<!--    <footer class="main-footer">-->
<!--        <p> © 2022 Radek Janiszewski. Wszelkie prawa zastrzeżone</p>-->
<!--    </footer>-->
</body>

</html>