<h1 class="important information">Utworzono wycenę {{projectNumber}} dla klienta {{customerName}}</h1>
<h2 class="important information">Zarządzaj ofertą z poziomu główego okna aplikacji</h2>
{{> go-home}}