<!--<h1>print-preview</h1>-->
<div class="print-preview-container">
    <page size="A4">
       <div class="header-print">
           <h1>Offer No: tutaj wstrzykujemy numer projektu</h1>
           <img src="/assets/images/logo-black-print.png" alt="">
           <p>Data utworzenia -> metoda pobierajaca date z systemu</p>
       </div>

        <div class="seller-customer-data">
            flexbox?
            <div class="seller">
                dane kordas
            </div>
            <div class="customer">
                dane kleinta pobierane z oferty
            </div>
        </div>
        <br>
        <h2>{{offer.mainID}}</h2>
    </page>
</div>
<div class="print-preview-footer">
    <a href="/offer/{{offer.mainID}}/">Anuluj</a>
    <button>Drukuj</button>
</div>


