<!--<h1>print-preview</h1>-->
<div class="print-preview-container">
    <page size="A4"></page>
</div>
<div class="print-preview-footer">
    <a href="/offer/{{offer.mainID}}/">Anuluj</a>
    <button>Drukuj</button>
</div>


<button>Drukuj</button>