* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 100vh;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.header {
    min-width: 1024px;
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.header .company-logo {
    margin-left: 20px;
    font-size: 0.8em;
}


.header img {
    width: 45%;
    height: 40%;
}


#header-app-name {
    font-size: 1.4em;
    position: absolute;
    left: 300px;
}


.header .company-address {
    margin-right: 20px;
}


.header h3 {
    font-size: 0.7em;
}


.list-view {
    margin: 20px 20px;
    height: calc(100vh - 130px);
    min-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper-offers {
    width: 80vw;
    /*height: calc(100vh - 130px);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.important {
    margin-left: 20px;
    color: white;
    font-size: 28px;
}

.information {
    margin-top: 20px;
}

.div-offers {
    margin: 20px 20px;
}

.offers-list-table {
    margin: 20px 0 0 20px;
    border: solid 2px white;
    font-size: 24px;
    color: white;
    width: 100%;
}

thead {
    background-color: dimgrey;
}

tbody {
    text-align: left;
}

.table-offer {
    text-align: center;
}

.button-new-offer button, .button-standard button {
    background-color: dimgrey;
    border: solid 2px white;
    border-radius: 5px;
    padding: 7px;
    font-size: 22px;
    transition: .4s;
}

.button-new-offer button:hover, .button-standard button:hover {
    color: #ffffff;
    background-color: red;
    cursor: progress;
}

td a {
    color: red;
}

td button {
    background-color: dimgrey;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    transition: .5s;
}

.offer-single-container {
    width: 96%;
    min-width: 1024px;
    margin: 20px 2%;
    text-align: left;
    color: white;
}

.offer-single-header, .offer-single-products {
    margin: 20px 0 0 20px;
    border: solid 2px white;
    font-size: 24px;
    width: 60%;
}

.offer-single-header tr {
    display: flex;
    text-align: center;
}

.offer-single-header th {
    flex-grow: 1;
}

.offer-single-products th {
    text-align: center;
}

.offer-single-header th:nth-child(2n) {
    text-align: center;
    color: red;
}

.id, .customer, .project {
    padding-left: 7px;
}

.header-products {
    margin-top: 20px;
}

td button:hover {
    background-color: red;
    border-color: white;
    cursor: pointer;
}

.button-standard {
    width: 250px;
    margin: 30px 0 0 2%;
}

.button-standard button {
    margin-left: 8%;
}

form > .fix-margin {
    margin-left: 0;
}

.new-product-form {
    min-width: 1024px;
    margin: 30px 0 10px 20px;
}

.new-product-form input {
    color: red;
    font-size: 18px;
    font-weight: bold;
    width: 360px;
    height: 30px;

}

.new-product-form p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.home {
    position: absolute;
    top: 85px;
    right: 10px;
}

.home a {
    display: inline-block;
    text-decoration: none;
    color: red;
}

.home a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: red;
    transition: width .4s ease-in;
}

.home a:hover::after {
    width: 100%;
}

.print-preview-container {
    display: flex;
    flex-direction: row;
    min-width: 1024px;
}

.print-section-buttons {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 200px;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.print-section-buttons button {
    background-color: dimgrey;
    border: solid 2px white;
    width: 200px;
    border-radius: 5px;
    padding: 7px;
    font-size: 22px;
    transition: .4s;
}

.print-section-buttons button:hover {
    color: #ffffff;
    background-color: red;
    cursor: progress;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.invoice-box {
    margin-top: 20px;
    background-color: white;
    color: black;
}

.invoice-box.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.invoice-box.rtl table {
    text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
    text-align: left;
}

.description {
    margin-top: 10px;
}

.description span {
    font-weight: bold;
}

.top-section, .middle-section {
    margin-bottom: 10px;
}

/* print */
@media print {
    .invoice-box {
        max-width: unset;
        box-shadow: none;
        border: 0px;
    }

    .print-section-buttons, #header-app-name {
        display: none;
    }

}


















