<h1>Dodaj nową ofertę</h1>
<form action="/offer" method="POST">
    <label>
        <p>
            Podaj numer projektu
        </p>
        <p>
            <input type="number" name="projectNumber">
        </p>
    </label>
    <label>
        <p>
            Nazwa klienta
        </p>
        <p>
            <input type="text" name="customerName">
        </p>
    </label>
    <label>
        <p>
            Nazwa ulicy, numer budynku lub lokalu
        </p>
        <p>
            <input type="text" name="streetAndNumber">
        </p>
    </label>
    <label>
        <p>
            Kod pocztowy, miejscowość
        </p>
        <p>
            <input type="text" name="zipCodeAndCity">
        </p>
    </label>
    <button type="submit">Dodaj</button>
</form>
{{> go-home}}