<h1 class="important information">Dodaj nową ofertę</h1>
<form class="new-product-form button-standard" action="/offer" method="POST">
    <label>
        <p>
            Podaj numer projektu
        </p>
        <p>
            <input type="text" minlength="7" maxlength="10" name="projectNumber" required>
        </p>
    </label>
    <label>
        <p>
            Nazwa klienta
        </p>
        <p>
            <input type="text" name="customerName" required>
        </p>
    </label>
    <label>
        <p>
            Nazwa ulicy, numer budynku lub lokalu
        </p>
        <p>
            <input type="text" name="streetAndNumber" required>
        </p>
    </label>
    <label>
        <p>
            Kod pocztowy, miejscowość
        </p>
        <p>
            <input type="text" name="zipCodeAndCity" required>
        </p>
    </label>
    <button class="fix-margin" type="submit">Dodaj ofertę</button>
</form>
{{> go-home}}