<h1>Dodaj nową ofertę</h1>
<form action="/offer" method="POST">
    <label>
        <p>
            Podaj nazwę klienta
        </p>
        <p>
            <input type="text" name="customer">
        </p>
    </label>
    <label>
        <p>
            Podaj numer projektu
        </p>
        <p>
            <input type="number" name="projectNumber">
        </p>
    </label>
    <button type="submit">Dalej</button>
</form>
<p class="cancel"><a href="/">Anuluj</a></p>

<br>
<br>


// TODO
<br>
// tutaj powinna być metoda która tworzy obiekt z automatycznie przypisanym id na podstawie miejsca w tablicy,
<br>
// dodaje pole customer oraz projectNumber, towrzy pusta tablice products w obiekcie
<br>
// Przechodzimy stąd do formularza dodawanie produktów